* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #373737;
}

.userHeader {
    position: sticky;
    background-color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
}

#userGreeting {
    color: black;
    font-size: 30px;
    margin: 0 20px;
}

.profile-dropdown {
    position: relative;
    margin-left: auto;
}

.dropbtn {
    font-size: 15px;
    cursor: pointer;
    border: none;
    color: white;
    float: right;
    padding: 10px 10px;
    background-color: #373737;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.dropbtn:hover {
    background-color: #555;
}

.backBtn{
    font-size: 15px;
    cursor: pointer;
    border: none;
    color: white;
    float: right;
    padding: 10px 10px;
    background-color: #373737;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.backBtn a{
    text-decoration: none;
    color: white;
}

.backBtn:hover{
    background-color: #555;
}

.dropdown-content {
    border: 1px solid #000;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    min-width: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 8px;
    overflow: hidden;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

.addAppointment {
    margin: 30px auto;
    border: 1px solid #000000;
    max-width: 600px;
    background-color: white;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

h1{
    margin: 10px 0;
    text-align: center;
    color: #333; /* Dark gray */
    font-size: 25px;
}

form{
    padding: 15px;
}

form label, input, textarea{
    margin: 5px 5px;
    font-size: 18px;
}

form input, textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

select{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 5px 5px;
}

button {
    font-size: 15px;
    cursor: pointer;
    border: none;
    color: white;
    float: right;
    padding: 10px 10px;
    background-color: #373737;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    margin-bottom: 5px;
}